{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            {% for offer in offers %}
                <div class="col-md-6">
                    <article>
                        <header>
                            <h2>{{ offer.startDestination }} -> {{ offer.endDestination }}</h2>
                        </header>

                        <p>
                            {{ offer.seats}}
                        </p>

                        <small class="author">
                            {{ offer.driver.name }}
                        </small>

                        <footer>
                            {% if app.user %}
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('offer_view', {'id':offer.id}) }}">View/Book &raquo;</a>
                            </div>
                            {% endif %}
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}