{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>{{ offer.startDestination }} -> {{ offer.endDestination }}</h2>
                    </header>

                    <p>
                        {{ offer.price }}
                    </p>

                    <small class="author">
                        <a href="{{ path('user_message', {'id': offer.driverId}) }}">{{ offer.driver.name }}</a>
                    </small>

                    <footer>
                        <div class="pull-right">
                            {% if app.getUser() and (app.getUser().isDriver(offer) or app.getUser.isAdmin()) %}
                            <a class="btn btn-success btn-xs" href="{{ path('offer_edit', {'id':offer.id}) }}">Edit</a>
                            <a class="btn btn-danger btn-xs" href="{{ path('offer_delete', {'id':offer.id}) }}">Delete</a>
                            {% endif %}
                            <a class="btn btn-default btn-xs" href="{{ path('default_index') }}">back &raquo;</a>
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>


{% endblock %}

