{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            {% for offer in offers %}
                <div class="col-md-6">
                    <article>
                        <header>
                            <h2>{{ offer.startDestination }} -> {{ offer.endDestination }}</h2>
                        </header>

                        <p>
                            {{ offer.message }}
                        </p>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('offer_edit', {'id':offer.id}) }}">Edit</a>
                                {#<a class="btn btn-default btn-xs"#}
                                   {#href="{{ path('offer_delete', {'id':offer.id}) }}">Delete</a>#}
                                <a class="btn btn-default btn-xs"
                                   href="{{ path('default_index') }}">Back &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

